<div class="home-slider-banner">
    <div class="container">
        <div class="row10">
            <div class="col-lg-8 silider-wrapp">
                <div class="home-slider">
                    <owl-carousel-o [options]="customOptions" (changed)="slideChanged($event)">
                        <ng-template carouselSlide>
                            <app-product-banner smallTitle="Sale up to 40% off!" [bigTitle]="'Spring Summer\nCollection'"
                                priceTitle="New Price:" price="$270.00" linkTitle="Shop now">
                            </app-product-banner>
                        </ng-template>
                        <ng-template carouselSlide>
                            <app-product-banner smallTitle="Sale up to 40% off!" [bigTitle]="'Spring Summer\nCollection'"
                                priceTitle="New Price:" price="$270.00" linkTitle="Shop now">
                            </app-product-banner>
                        </ng-template>
                    </owl-carousel-o>
                </div>
            </div>
            <div class="col-lg-4 banner-wrapp">
                <div class="banner">
                    <div class="item-banner style7">
                        <div class="inner">
                            <div class="banner-content">
                                <h3 class="title">Pick Your <br />Items</h3>
                                <div class="description">
                                    Adipiscing elit curabitur senectus sem
                                </div>
                                <a href="#" class="button btn-lets-do-it">Shop now</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="banner">
                    <div class="item-banner style8">
                        <div class="inner">
                            <div class="banner-content">
                                <h3 class="title">Best Of<br />Products</h3>
                                <div class="description">
                                    Cras pulvinar loresum dolor conse
                                </div>
                                <span class="price">$379.00</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>