
/*banner home 03*/
.item-banner.style7 .inner {
	background-image: url(/assets/img/stelina/banner-home-5.jpg);
}
.item-banner.style7 .banner-content {
	padding-top: 59px;
	padding-right: 165px;
	padding-bottom: 60px;
	padding-left: 30px;
	margin-bottom: 20px;
}
.item-banner.style7 .title, .item-banner.style8 .title {
	font-size: 26px;
	line-height: 32px;
}
.item-banner.style7 .description {
	margin-bottom: 15px;
	max-width: 185px;
}