<ul class="row list-products auto-clear equal-container product-grid">
    <li class="product-item  col-lg-4 col-md-6 col-sm-6 col-xs-6 col-ts-12 style-1">
        <div class="product-inner equal-element">
            <div class="product-top">
                <div class="flash">
                    <span class="onnew">
                        <span class="text">
                            new
                        </span>
                    </span>
                </div>
            </div>
            <div class="product-thumb">
                <div class="thumb-inner">
                    <a href="#">
                        <img src="assets/images/product-item-1.jpg" alt="img">
                    </a>
                    <div class="thumb-group">
                        <div class="yith-wcwl-add-to-wishlist">
                            <div class="yith-wcwl-add-button">
                                <a href="#">Add to Wishlist</a>
                            </div>
                        </div>
                        <a href="#" class="button quick-wiew-button">Quick View</a>
                        <div class="loop-form-add-to-cart">
                            <button class="single_add_to_cart_button button">Add to cart
                            </button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="product-info">
                <h5 class="product-name product_title">
                    <a href="#">Aluminum Plant</a>
                </h5>
                <div class="group-info">
                    <div class="stars-rating">
                        <div class="star-rating">
                            <span class="star-3"></span>
                        </div>
                        <div class="count-star">
                            (3)
                        </div>
                    </div>
                    <div class="price">
                        <del>
                            $65
                        </del>
                        <ins>
                            $45
                        </ins>
                    </div>
                </div>
            </div>
        </div>
    </li>
    <li class="product-item product-type-variable col-lg-4 col-md-6 col-sm-6 col-xs-6 col-ts-12 style-1">
        <div class="product-inner equal-element">
            <div class="product-top">
            </div>
            <div class="product-thumb">
                <div class="thumb-inner">
                    <a href="#">
                        <img src="assets/images/product-item-2.jpg" alt="img">
                    </a>
                    <div class="thumb-group">
                        <div class="yith-wcwl-add-to-wishlist">
                            <div class="yith-wcwl-add-button">
                                <a href="#">Add to Wishlist</a>
                            </div>
                        </div>
                        <a href="#" class="button quick-wiew-button">Quick View</a>
                        <div class="loop-form-add-to-cart">
                            <button class="single_add_to_cart_button button">Add to cart
                            </button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="product-info">
                <h5 class="product-name product_title">
                    <a href="#">Glorious Eau</a>
                </h5>
                <div class="group-info">
                    <div class="stars-rating">
                        <div class="star-rating">
                            <span class="star-3"></span>
                        </div>
                        <div class="count-star">
                            (3)
                        </div>
                    </div>
                    <div class="price">
                        <del>
                            $65
                        </del>
                        <ins>
                            $45
                        </ins>
                    </div>
                </div>
            </div>
        </div>
    </li>
    <li class="product-item product-type-variable col-lg-4 col-md-6 col-sm-6 col-xs-6 col-ts-12 style-1">
        <div class="product-inner equal-element">
            <div class="product-top">
                <div class="flash">
                    <span class="onnew">
                        <span class="text">
                            new
                        </span>
                    </span>
                </div>
            </div>
            <div class="product-thumb">
                <div class="thumb-inner">
                    <a href="#">
                        <img src="assets/images/product-item-3.jpg" alt="img">
                    </a>
                    <div class="thumb-group">
                        <div class="yith-wcwl-add-to-wishlist">
                            <div class="yith-wcwl-add-button">
                                <a href="#">Add to Wishlist</a>
                            </div>
                        </div>
                        <a href="#" class="button quick-wiew-button">Quick View</a>
                        <div class="loop-form-add-to-cart">
                            <button class="single_add_to_cart_button button">Add to cart
                            </button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="product-info">
                <h5 class="product-name product_title">
                    <a href="#">Cuerpo Eau</a>
                </h5>
                <div class="group-info">
                    <div class="stars-rating">
                        <div class="star-rating">
                            <span class="star-3"></span>
                        </div>
                        <div class="count-star">
                            (3)
                        </div>
                    </div>
                    <div class="price">
                        <del>
                            $65
                        </del>
                        <ins>
                            $45
                        </ins>
                    </div>
                </div>
            </div>
        </div>
    </li>
    <li class="product-item product-type-variable col-lg-4 col-md-6 col-sm-6 col-xs-6 col-ts-12 style-1">
        <div class="product-inner equal-element">
            <div class="product-top">
            </div>
            <div class="product-thumb">
                <div class="thumb-inner">
                    <a href="#">
                        <img src="assets/images/product-item-4.jpg" alt="img">
                    </a>
                    <div class="thumb-group">
                        <div class="yith-wcwl-add-to-wishlist">
                            <div class="yith-wcwl-add-button">
                                <a href="#">Add to Wishlist</a>
                            </div>
                        </div>
                        <a href="#" class="button quick-wiew-button">Quick View</a>
                        <div class="loop-form-add-to-cart">
                            <button class="single_add_to_cart_button button">Add to cart
                            </button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="product-info">
                <h5 class="product-name product_title">
                    <a href="#">The Alchemist</a>
                </h5>
                <div class="group-info">
                    <div class="stars-rating">
                        <div class="star-rating">
                            <span class="star-3"></span>
                        </div>
                        <div class="count-star">
                            (3)
                        </div>
                    </div>
                    <div class="price">
                        <del>
                            $65
                        </del>
                        <ins>
                            $45
                        </ins>
                    </div>
                </div>
            </div>
        </div>
    </li>
    <li class="product-item  col-lg-4 col-md-6 col-sm-6 col-xs-6 col-ts-12 style-1">
        <div class="product-inner equal-element">
            <div class="product-top">
            </div>
            <div class="product-thumb">
                <div class="thumb-inner">
                    <a href="#">
                        <img src="assets/images/product-item-5.jpg" alt="img">
                    </a>
                    <div class="thumb-group">
                        <div class="yith-wcwl-add-to-wishlist">
                            <div class="yith-wcwl-add-button">
                                <a href="#">Add to Wishlist</a>
                            </div>
                        </div>
                        <a href="#" class="button quick-wiew-button">Quick View</a>
                        <div class="loop-form-add-to-cart">
                            <button class="single_add_to_cart_button button">Add to cart
                            </button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="product-info">
                <h5 class="product-name product_title">
                    <a href="#">Boston Fern</a>
                </h5>
                <div class="group-info">
                    <div class="stars-rating">
                        <div class="star-rating">
                            <span class="star-3"></span>
                        </div>
                        <div class="count-star">
                            (3)
                        </div>
                    </div>
                    <div class="price">
                        <del>
                            $65
                        </del>
                        <ins>
                            $45
                        </ins>
                    </div>
                </div>
            </div>
        </div>
    </li>
    <li class="product-item product-type-variable col-lg-4 col-md-6 col-sm-6 col-xs-6 col-ts-12 style-1">
        <div class="product-inner equal-element">
            <div class="product-top">
                <div class="flash">
                    <span class="onnew">
                        <span class="text">
                            new
                        </span>
                    </span>
                </div>
            </div>
            <div class="product-thumb">
                <div class="thumb-inner">
                    <a href="#">
                        <img src="assets/images/product-item-6.jpg" alt="img">
                    </a>
                    <div class="thumb-group">
                        <div class="yith-wcwl-add-to-wishlist">
                            <div class="yith-wcwl-add-button">
                                <a href="#">Add to Wishlist</a>
                            </div>
                        </div>
                        <a href="#" class="button quick-wiew-button">Quick View</a>
                        <div class="loop-form-add-to-cart">
                            <button class="single_add_to_cart_button button">Add to cart
                            </button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="product-info">
                <h5 class="product-name product_title">
                    <a href="#">Garden A Winter </a>
                </h5>
                <div class="group-info">
                    <div class="stars-rating">
                        <div class="star-rating">
                            <span class="star-3"></span>
                        </div>
                        <div class="count-star">
                            (3)
                        </div>
                    </div>
                    <div class="price">
                        <del>
                            $65
                        </del>
                        <ins>
                            $45
                        </ins>
                    </div>
                </div>
            </div>
        </div>
    </li>
    <li class="product-item product-type-variable col-lg-4 col-md-6 col-sm-6 col-xs-6 col-ts-12 style-1">
        <div class="product-inner equal-element">
            <div class="product-top">
            </div>
            <div class="product-thumb">
                <div class="thumb-inner">
                    <a href="#">
                        <img src="assets/images/product-item-7.jpg" alt="img">
                    </a>
                    <div class="thumb-group">
                        <div class="yith-wcwl-add-to-wishlist">
                            <div class="yith-wcwl-add-button">
                                <a href="#">Add to Wishlist</a>
                            </div>
                        </div>
                        <a href="#" class="button quick-wiew-button">Quick View</a>
                        <div class="loop-form-add-to-cart">
                            <button class="single_add_to_cart_button button">Add to cart
                            </button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="product-info">
                <h5 class="product-name product_title">
                    <a href="#">Toilette </a>
                </h5>
                <div class="group-info">
                    <div class="stars-rating">
                        <div class="star-rating">
                            <span class="star-3"></span>
                        </div>
                        <div class="count-star">
                            (3)
                        </div>
                    </div>
                    <div class="price">
                        <del>
                            $65
                        </del>
                        <ins>
                            $45
                        </ins>
                    </div>
                </div>
            </div>
        </div>
    </li>
    <li class="product-item  col-lg-4 col-md-6 col-sm-6 col-xs-6 col-ts-12 style-1">
        <div class="product-inner equal-element">
            <div class="product-top">
            </div>
            <div class="product-thumb">
                <div class="thumb-inner">
                    <a href="#">
                        <img src="assets/images/product-item-20.jpg" alt="img">
                    </a>
                    <div class="thumb-group">
                        <div class="yith-wcwl-add-to-wishlist">
                            <div class="yith-wcwl-add-button">
                                <a href="#">Add to Wishlist</a>
                            </div>
                        </div>
                        <a href="#" class="button quick-wiew-button">Quick View</a>
                        <div class="loop-form-add-to-cart">
                            <button class="single_add_to_cart_button button">Add to cart
                            </button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="product-info">
                <h5 class="product-name product_title">
                    <a href="#">Magnificent Bangle</a>
                </h5>
                <div class="group-info">
                    <div class="stars-rating">
                        <div class="star-rating">
                            <span class="star-3"></span>
                        </div>
                        <div class="count-star">
                            (3)
                        </div>
                    </div>
                    <div class="price">
                        <del>
                            $65
                        </del>
                        <ins>
                            $45
                        </ins>
                    </div>
                </div>
            </div>
        </div>
    </li>
    <li class="product-item product-type-variable col-lg-4 col-md-6 col-sm-6 col-xs-6 col-ts-12 style-1">
        <div class="product-inner equal-element">
            <div class="product-top">
                <div class="flash">
                    <span class="onnew">
                        <span class="text">
                            new
                        </span>
                    </span>
                </div>
            </div>
            <div class="product-thumb">
                <div class="thumb-inner">
                    <a href="#">
                        <img src="assets/images/product-item-9.jpg" alt="img">
                    </a>
                    <div class="thumb-group">
                        <div class="yith-wcwl-add-to-wishlist">
                            <div class="yith-wcwl-add-button">
                                <a href="#">Add to Wishlist</a>
                            </div>
                        </div>
                        <a href="#" class="button quick-wiew-button">Quick View</a>
                        <div class="loop-form-add-to-cart">
                            <button class="single_add_to_cart_button button">Add to cart
                            </button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="product-info">
                <h5 class="product-name product_title">
                    <a href="#">Terra Rossa</a>
                </h5>
                <div class="group-info">
                    <div class="stars-rating">
                        <div class="star-rating">
                            <span class="star-3"></span>
                        </div>
                        <div class="count-star">
                            (3)
                        </div>
                    </div>
                    <div class="price">
                        <del>
                            $65
                        </del>
                        <ins>
                            $45
                        </ins>
                    </div>
                </div>
            </div>
        </div>
    </li>
    <li class="product-item  col-lg-4 col-md-6 col-sm-6 col-xs-6 col-ts-12 style-1">
        <div class="product-inner equal-element">
            <div class="product-top">
            </div>
            <div class="product-thumb">
                <div class="thumb-inner">
                    <a href="#">
                        <img src="assets/images/product-item-8.jpg" alt="img">
                    </a>
                    <div class="thumb-group">
                        <div class="yith-wcwl-add-to-wishlist">
                            <div class="yith-wcwl-add-button">
                                <a href="#">Add to Wishlist</a>
                            </div>
                        </div>
                        <a href="#" class="button quick-wiew-button">Quick View</a>
                        <div class="loop-form-add-to-cart">
                            <button class="single_add_to_cart_button button">Add to cart
                            </button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="product-info">
                <h5 class="product-name product_title">
                    <a href="#">Dainty Bangle</a>
                </h5>
                <div class="group-info">
                    <div class="stars-rating">
                        <div class="star-rating">
                            <span class="star-3"></span>
                        </div>
                        <div class="count-star">
                            (3)
                        </div>
                    </div>
                    <div class="price">
                        <del>
                            $65
                        </del>
                        <ins>
                            $45
                        </ins>
                    </div>
                </div>
            </div>
        </div>
    </li>
    <li class="product-item  col-lg-4 col-md-6 col-sm-6 col-xs-6 col-ts-12 style-1">
        <div class="product-inner equal-element">
            <div class="product-top">
                <div class="flash">
                    <span class="onnew">
                        <span class="text">
                            new
                        </span>
                    </span>
                </div>
            </div>
            <div class="product-thumb">
                <div class="thumb-inner">
                    <a href="#">
                        <img src="assets/images/product-item-21.jpg" alt="img">
                    </a>
                    <div class="thumb-group">
                        <div class="yith-wcwl-add-to-wishlist">
                            <div class="yith-wcwl-add-button">
                                <a href="#">Add to Wishlist</a>
                            </div>
                        </div>
                        <a href="#" class="button quick-wiew-button">Quick View</a>
                        <div class="loop-form-add-to-cart">
                            <button class="single_add_to_cart_button button">Add to cart
                            </button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="product-info">
                <h5 class="product-name product_title">
                    <a href="#">The Alchemist</a>
                </h5>
                <div class="group-info">
                    <div class="stars-rating">
                        <div class="star-rating">
                            <span class="star-3"></span>
                        </div>
                        <div class="count-star">
                            (3)
                        </div>
                    </div>
                    <div class="price">
                        <del>
                            $65
                        </del>
                        <ins>
                            $45
                        </ins>
                    </div>
                </div>
            </div>
        </div>
    </li>
    <li class="product-item  col-lg-4 col-md-6 col-sm-6 col-xs-6 col-ts-12 style-1">
        <div class="product-inner equal-element">
            <div class="product-top">
                <div class="flash">
                    <span class="onnew">
                        <span class="text">
                            new
                        </span>
                    </span>
                </div>
            </div>
            <div class="product-thumb">
                <div class="thumb-inner">
                    <a href="#">
                        <img src="assets/images/product-item-22.jpg" alt="img">
                    </a>
                    <div class="thumb-group">
                        <div class="yith-wcwl-add-to-wishlist">
                            <div class="yith-wcwl-add-button">
                                <a href="#">Add to Wishlist</a>
                            </div>
                        </div>
                        <a href="#" class="button quick-wiew-button">Quick View</a>
                        <div class="loop-form-add-to-cart">
                            <button class="single_add_to_cart_button button">Add to cart
                            </button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="product-info">
                <h5 class="product-name product_title">
                    <a href="#">Garden A Winter </a>
                </h5>
                <div class="group-info">
                    <div class="stars-rating">
                        <div class="star-rating">
                            <span class="star-3"></span>
                        </div>
                        <div class="count-star">
                            (3)
                        </div>
                    </div>
                    <div class="price">
                        <del>
                            $65
                        </del>
                        <ins>
                            $45
                        </ins>
                    </div>
                </div>
            </div>
        </div>
    </li>
</ul>
<div class="pagination clearfix style3">
    <div class="nav-link">
        <a href="#" class="page-numbers"><i class="icon fa fa-angle-left" aria-hidden="true"></i></a>
        <a href="#" class="page-numbers">1</a>
        <a href="#" class="page-numbers">2</a>
        <a href="#" class="page-numbers current">3</a>
        <a href="#" class="page-numbers"><i class="icon fa fa-angle-right" aria-hidden="true"></i></a>
    </div>
</div>