<div class="slider-item" [ngStyle]="{ 'background-image': 'url(/assets/img/stelina/slider-thumb4.jpg)' }">
	<div class="slider-inner equal-element">
		<div class="slider-infor">
			<h5 class="title-small">
				{{ smallTitle }}
			</h5>
			<h3 class="title-big">
				{{ bigTitle }}
			</h3>
			<div class="price">
				{{ priceTitle }}
				<span class="number-price">
					{{ price }}
				</span>
			</div>
			<a href="#" class="button btn-shop-the-look bgroud-style">{{ linkTitle }}</a>
		</div>
	</div>
</div>