.slider-item .slider-inner {
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	position: relative;
	border-radius: 0;
	overflow: hidden;
}
.slider-item .title-small {
	color: #ab8e66;
	
	letter-spacing: 0.05em;
	font-weight: 600;
	padding: 0;
	text-transform: uppercase;
	margin-bottom: 12px;
	font-family: 'Jost';
}
.slider-item.slick-active .title-small {
	animation-duration: 2s;
	-webkit-animation-duration: 2s;
	animation-fill-mode: both;
	-webkit-animation-fill-mode: both;
	animation-name: bounceInDown;
	-webkit-animation-name: bounceInDown;
}
.slider-item .title-big {
	font-size: 38px;
	font-weight: 500;
	line-height: 1.2;
	max-width: 370px;
	text-transform: capitalize;
}
.slider-item.slick-active .title-big {
	animation-duration: 2s;
	-webkit-animation-duration: 2s;
	animation-fill-mode: both;
	-webkit-animation-fill-mode: both;
	animation-name: bounceInRight;
	-webkit-animation-name: bounceInRight;
}
.slider-item .price {
	font-size: 18px;
	letter-spacing: -0.05em;
	font-weight: 500;
	display: block;
	margin-bottom: 35px;
}
.slider-item.slick-active .price, .slider-item.slick-active .description {
	animation-duration: 2s;
	-webkit-animation-duration: 2s;
	animation-fill-mode: both;
	-webkit-animation-fill-mode: both;
	animation-name: bounceInLeft;
	-webkit-animation-name: bounceInLeft;
}
.slider-item .price .number-price {
	text-transform: uppercase;
	font-size: 28px;
	color: #ab8e66;
	font-weight: 600;
	position: relative;
}
.slider-item .slider-infor .button {
	padding-top: 7px;
	padding-bottom: 7px;
	padding-right: 0;
	padding-left: 0;
	background: none;
	border: 1px solid transparent;
	color: #000;
	margin-right: 5px;
	border-radius: 0;
	position: relative;
	overflow: hidden;
	font-size: 13px;
	text-transform: uppercase;
}
.slider-item .slider-infor .button::before {
	content: '';
	position: absolute;
	left: 0;
	bottom: 0;
	width: 100%;
	border-bottom: 2px solid;
}
.slider-item .slider-infor .button:hover::before {
	-webkit-animation: underline-link .8s cubic-bezier(.58, .3, .005, 1) 0s 1;
	animation: underline-link .8s cubic-bezier(.58, .3, .005, 1) 0s 1;
}
.slider-item.slick-active .slider-infor .button {
	animation-duration: 2s;
	-webkit-animation-duration: 2s;
	animation-fill-mode: both;
	-webkit-animation-fill-mode: both;
	animation-name: bounceInUp;
	-webkit-animation-name: bounceInUp;
	font-family: 'Jost';
}
.slider-item .slider-infor .button:last-child {
	margin-right: 0;
}
.slider-item .slider-infor .button:hover {
	background: none;
	border-color: transparent;
	color: #ab8e66;
}
.slider-item.style1 .slider-inner {
	background-image: url(/assets/img/stelina/slider-thumb1.jpg);
}
.slider-item.style1 .slider-inner .slider-infor,
.slider-item.style2 .slider-inner .slider-infor,
.slider-item.style3 .slider-inner .slider-infor {
	padding-bottom: 126px;
	padding-top: 139px;
	padding-left: 680px;
	padding-right: 170px;
	float: right;
}
.slider-item.style2 .slider-inner {
	background-image: url(/assets/img/stelina/slider-thumb2.jpg);
}
.slider-item.style2 .slider-inner .slider-infor {
	padding-left: 680px;
	padding-right: 170px;
}
.slider-item.style2 .title-big span {
	position: relative;
	color: #ab8e66;
}
.slider-item.style3 .slider-inner {
	background-image: url(/assets/img/stelina/slider-thumb3.jpg);
}

.slider-item .slider-inner .slider-infor {
	padding-top: 176px;
	padding-bottom: 190px;
	padding-left: 50px;
	padding-right: 400px;
}