/*banner home 02*/
.item-banner.style4 .inner {
	background-image: url(/assets/img/stelina/banner-home-2.jpg);
	background-size: cover;
	background-position: 65% center;
}
.item-banner.style4 .banner-content {
	padding-left: 40px;
	padding-bottom: 60px;
	padding-right: 300px;
	padding-top: 57px;
	margin-bottom: 30px;
}
.item-banner.style4 .title {
	margin-bottom: 12px;
	font-size: 26px;
	line-height: 32px;
}
.item-banner.style4 .description {
	margin-bottom: 28px;
	max-width: 195px;
}

.item-banner.style5 .inner {
	background-image: url(/assets/img/stelina/banner-home-3.jpg);
	background-size: cover;
	background-position: 65% center;
}
.item-banner.style5 .banner-content {
	padding-left: 40px;
	padding-bottom: 60px;
	padding-right: 300px;
	padding-top: 60px;
	margin-bottom: 30px;
}
.item-banner.style5 .title {
	font-size: 26px;
	line-height: 32px;
}
.item-banner.style5 .code {
	
	line-height: 22px;
	margin-bottom: 20px;
	display: block;
	text-transform: none;
	max-width: 170px;
}
.item-banner.style5 .code span {
	font-weight: 600;
	color: #ab8e66;
	position: relative;
}